@import "./reset.css";
@import "./layout.css";

body, html, input {
    font-size: 16px;
    font-family: monospace;
    color: #303030;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

